.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    margin-top: 65px;
    width: 87px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}
.side-icon{
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side-icon img{
    height: 29px;
    margin-bottom: 4px;
}
.side-icon:hover{
    background-color: rgb(198, 198, 198);
    cursor: pointer;
}
.side-icon div{
    display: block;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size: 12px;
}